alabaster==1.0.0
annotated-types==0.7.0
babel==2.16.0
blinker==1.8.2
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
coverage==7.6.1
distlib==0.3.8
docutils==0.21.2
filelock==3.15.4
flake8==7.1.1
Flask==3.0.3
Flask-Cors==4.0.1
identify==2.6.0
idna==3.7
imagesize==1.4.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
loguru==0.7.2
MarkupSafe==2.1.5
mccabe==0.7.0
nodeenv==1.9.1
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
psycopg2-binary==2.9.9
pycodestyle==2.12.1
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.3.2
pytest-cov==5.0.0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==8.0.2
sphinx-autodoc-typehints==2.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
waitress==3.0.0
Werkzeug==3.0.3
