:root {
    --border-color: #212735;
    --border-color-light: #aaa;
    --backrgound-color: #111828;
    --background-color-table: #030712;
    --text-color: #cfced5;
}
body {
    width: 100vw;
    height: 100dvh;
    background-color: #030712;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}
.main-container {
    width: 800px;
    height: 80%;
    min-height: 450px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    box-sizing: border-box;
}

.header-box {
    display: grid;
    height: 100%;
    padding: 20px;
}

.author {
    align-self: center;
    margin-bottom: 20px;
}

h2,
h1 {
    font-weight: 400;
    margin: 10px 0px;
}

* {
    font-weight: 300;
    color: var(--text-color);
}

.result-container {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

.input-form {
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background: url("/static/bg.jpg");
    position: relative;
    border-right: 1px solid var(--border-color);
    z-index: 3;
}

.input-form::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background: linear-gradient(
        to bottom,
        transparent,
        45%,
        var(--backrgound-color),
        75%,
        var(--backrgound-color)
    );
    z-index: -1;
}

.input-form h1 {
    margin: 0;
}

h2 {
    border-bottom: 1px solid var(--border-color-light);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.author p{
    display: flex;
    justify-content: space-between;
}

.input-section {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

input {
    float: right;
    border: 1px solid var(--border-color-light);
    padding: 5px 10px;
    border-radius: 10px;
    background: none;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
    height: 25px;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input:focus-visible {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.table-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--backrgound-color);
}

.table-inner-container {
    height: calc(100% - 29px - 20px);
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

button {
    background: none;
    background-color: transparent;
    border: 1px solid var(--border-color-light);
    border-radius: 10px;
    height: 37px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button:focus-visible {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
}

.rows:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.025);
}

.rows:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.rows > div,
.columnes > div {
    text-align: center;
    color: #f1f5f9;
}

.rows > div:first-child {
    border-right: 1px solid var(--border-color);
}

.columnes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}
